{% extends "layout.html" %}
{% block content %}
{% load static %}
  <h3>Please add paper to proceed</h3>

  {% if submitted %}
    <p class="success">
     Your paper was submitted successfully. Thank you.
   </p>
 {% else %}
 {% if updated %}
   <p class="success">
    Your paper is updated successfully.
  </p>
{% else %}
   <form action="" method="post" novalidate>
   <table>
     {{ form.as_table }}
     <tr>
       <td>&nbsp;</td>
       <td><input type="submit" value="Submit"></td>
     </tr>
   </table>
   {% csrf_token %}
   </form>
 {% endif %}
 {% endif %}

 <aside id="rightsidebar">
   <nav id="nav">
     <ul>
       <li><a href="/api/add_paper">Add Paper</a></li>
     </ul>
   </nav>
 </aside>

{% endblock %}
