{% extends "layout.html" %}
{% block content %}
<h1>Please Enter Test Paper Details: </h1>
<form action="" method="post" target="_blank">

  {% csrf_token %}


  <label for="subject">Select Subject:</label>
  <select name="subjectid" id="subject">
    <option value="2">English</option>
    <option value="1">Math</option>
    <option value="4">Art</option>
    <option value="3">Science</option>
  </select>  <br><br>
  <label for="papername">Paper Name:    </label>
  <input type="text" id="papername" name="papername"><br><br>
  <label for="paperdesc">Paper Description:</label>
  <input type="paperdesc" id="paperdesc" name="paperdesc"><br><br>
  <input type="submit" value="Submit">
  <br><br>
</form>

  <p>Click on the submit button to save details.</p>
{% endblock %}
